declare -A XCOLORS
XCOLORS[foreground]={{base05-hex}}
XCOLORS[background]={{base00-hex}}
XCOLORS[cursorColor]={{base06-hex}}

XCOLORS[0]={{base00-hex}}
XCOLORS[1]={{base01-hex}}
XCOLORS[2]={{base02-hex}}
XCOLORS[3]={{base03-hex}}
XCOLORS[4]={{base04-hex}}
XCOLORS[5]={{base05-hex}}
XCOLORS[6]={{base06-hex}}
XCOLORS[7]={{base07-hex}}
XCOLORS[8]={{base08-hex}}
XCOLORS[9]={{base09-hex}}
XCOLORS[10]={{base0A-hex}}
XCOLORS[11]={{base0B-hex}}
XCOLORS[12]={{base0C-hex}}
XCOLORS[13]={{base0D-hex}}
XCOLORS[14]={{base0E-hex}}
XCOLORS[15]={{base0F-hex}}

export XCOLORS
